@font-face {
    font-family: 'rethink';
    src: url(./styles/RethinkSans-VariableFont_wght.ttf);
}



body{
    margin: 0;
    background-color: #1e0135;
    color: #fff;
    text-align: center;
    font-family: 'rethink';
    user-select: none;
}

.drag{
    background-color: #11011f;
    height: 25.5px;
    display: block;
    -webkit-app-region: drag;
    margin-bottom: 20px;
    color: #610094;
    text-align: left;
    padding-left :14px;
    padding-top: 5px;

}

h2{
    margin: 0;
}

.functions{
    flex-wrap: wrap;
    display: flex;
}

.apps{
    border-radius: 3px;
    border: 5px double #11011f;
    background-color: #610094;
    padding: 10px;
    width: 100px;
    height: 100px;
    display: flex;
}






div#1{
    display: none;
}